@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap");
* {
  background-color: rgb(196, 228, 142);
}
#back {
  display: inline-block;
}
#head {
  display: inline-block;
  width: 90%;
  height: 30px;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 25px;
  display: inline-block;
  color: darkolivegreen;
  margin: 0;
  font-weight: 1000;
  text-align: center;
}
h1 {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 25px;
  display: inline-block;
  color: darkolivegreen;
  margin: 0;
  font-weight: 1000;
  text-align: center;
}
#chatbackground {
  height: 680px;
}
#box {
  height: 60px;
  background-color: white;
  vertical-align: middle;
}
#message {
  width: 76%;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  background-color: white;
  margin-top: 7px;
  padding-left: 5%;
  border: none;
}
#emoticon {
  width: 5%;
  height: 40px;
  vertical-align: middle;
  margin-top: 7px;
  background-color: white;
  padding-right: 1%;
}
#enter {
  width: 10%;
  height: 40px;
  vertical-align: middle;
  margin-top: 7px;
  background-color: white;
  border-color: rgb(177, 174, 174);
  color: rgb(100, 100, 100);
}
